@import url(common.css);
@import url(default.css);
@import url(fonts.css);

.visual {
    position: relative; /* btn_wrap 정렬의 기준 */
}
.visual .swiper-slide {
    height: 100dvh; /*브라우저와 높이가 동일하게 , 100vh는 주소창 때문에 화면 이미지 아래가 깔림.  > 대안 dvh*/
    background-position: center top; /*center top이면 위에는 고정이되서 브라우저를 줄여도 잘리지 않는다*/
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    align-items: center;
}
.visual .swiper-slide.popup1 {
    background-image: url(../images/visual_bg1.jpg);
}
.visual .swiper-slide.popup2 {
    background-image: url(../images/visual_bg2.jpg);
}
.visual .swiper-slide.popup3 {
    background-image: url(../images/visual_bg3.jpg);
}

.visual .swiper-slide h3 {
    font-size: 60px;
    margin: 0 0 7px 0;
}
.visual .btn_wrap {
    position: absolute;
    left: calc(50% - 630px);/*1260의 절반 */
    top: calc(50% + 120px);
    z-index: 1;
    display: flex;
    gap: 0 6px;
}
.visual .btn_wrap button {
    border: 1px solid #fff;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background-position: center center;
    background-repeat: no-repeat;
    /*아이콘에 사이즈를 주면 .. 리사이즈가..? 까묵*/
    
} /*모바일 이미지 따로 줄거라면, w 768 h 1000 이어야 한다.*/
.visual .btn_wrap button.btn_prev {
    background-image: url(../images/visual_prev.svg);
    transform: rotate(180deg);
}
.visual .btn_wrap button.btn_play {
    background-image: url(../images/visual_play.svg);
    display: none;/*stop번튼이 눌려야만 보임*/
}
.visual .btn_wrap button.btn_stop {
    background-image: url(../images/visual_stop.svg);
}
.visual .btn_wrap button.btn_next {
    background-image: url(../images/visual_prev.svg);
    
}   
@media screen and (max-width:768px){
    .visual .swiper-slide h3 {
        font-size: 28px;
    }
    .visual .swiper-slide h3 br {
        display: none;
    }
    .visual .btn_wrap {
        left: 50%; /*정렬의 기준인 visual 너비의 50%*/
        transform: translateX(-50%); /*나 자신 btn_wrap너비의 절반을 왼쪽으로 이동하겠다는 뜻*/
        top: auto;/*pc버전에서 top을 줬다가 모바일에서 bottom으로 교체하는 경우
        top을 auto로 해지하고 bottom을 줘야 적용된다.*/
        bottom: 20px;
    }
    .visual .btn_wrap button {
        border: 1px solid #fff;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        background-position: center center;
        background-repeat: no-repeat;
        /*아이콘에 사이즈를 주면 .. 리사이즈가..? 까묵*/
        
    }
    .visual .btn_wrap button.btn_prev {
        background-image: url(../images/visual_prev.svg);
        transform: rotate(180deg);
    }
    .visual .btn_wrap button.btn_play {
        background-image: url(../images/visual_play.svg);
    }
    .visual .btn_wrap button.btn_stop {
        background-image: url(../images/visual_stop.svg);
    }
    .visual .btn_wrap button.btn_next {
        background-image: url(../images/visual_prev.svg);
        
    }   
}/*@media */
.biz {
    margin: 175px 0 0 0;
}
.biz .wrapper {
    display: flex;/*tit-list 좌우 배치*/
    justify-content: space-between;
    align-items: flex-start;

}
.biz .tit {
    position: sticky;
    top: 50px;
    
}
.biz .list {
    width: 617px;
    padding: 0 0 158px 0; /*wrapper밖으로 나간거 안으로 들여보냄 158px면 다 넣을 수있음*/
}
.biz .list ul {
    display: flex;
    flex-wrap: wrap;/*여러줄 허용*/
    gap: 38px 24px;
}
.biz .list ul li {
    width: calc(50% - 12px); /*100/2 = 50% 
    한줄의 여백의 합 / 한줄에 나오는 li의 갯수 =24/2*/ 
}
.biz .list ul li:nth-child(odd) { /*odd : 홀수 even : 짝수 */
    transform: translateY(158px);/*transform의 모든명령은 옆에를 간섭하지 않고 혼자 움직일 수 있다.*/
}
.biz .list ul li a {
    display: block;
    position: relative; /*txt 정렬의 기준*/
    
}
.biz .list ul li a .photo {
    overflow: hidden;
    height: 475px;
    border-radius: 20px;
    position: relative;/*before 정렬의 기준*/
}
.biz .list ul li a .photo::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #004288;
    opacity: 0;
    transition: 0.5s;
}
.biz .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} 
.biz .list ul li a .txt {
    position: absolute;
    left:40px;
    width: calc(100% - 80px);
    bottom: -64px;
    color: #fff;
    transition: 0.5s;
}
.biz .list ul li a:hover .txt {
    bottom: 77px;
}
.biz .list ul li a .txt h3 {
    font-size: 24px;
}
.biz .list ul li a .txt p {
    opacity: 0;
    margin: 7px 0 0 0;
    color: rgba(255, 255, 255, 0.8);
    transition: 0.5s;
}
.biz .list ul li a:hover .txt p {
    opacity: 1;
    
}
.biz .list ul li a:hover .photo::before {
   opacity: 0.9;
}

@media screen and (max-width:768px){
    .biz {
        margin: 117px 0 0 0;
    }
    .biz .wrapper {
        display: block;/*flex를 block으로 변경*/
    }
    .biz .tit {
        position: relative;/*sticky를 relatice로 변경*/
        top: auto; /*auto : top을 선언하지 않은 것처럼 변경 , 0이랑 다름*/
    }
    .biz .list {
        margin: 56px 0 0 0;
        width: auto;
        /*넓이를 해제 함, 원래 들어가야 할 값이 들어감
        block요소 이기 때문에 100%들어간다는 의미*/
        padding: 0 ; /*wrapper밖으로 나간거 안으로 들여보냄 158px면 다 넣을 수있음*/
    }
    .biz .list ul {
        /*flex유지*/
        flex-wrap: nowrap;/*한줄*/
        flex-direction: column;/*세로*/
        gap: 18px 0;
    }
    .biz .list ul li {
        width: auto; /*???*/
        /*100/2 = 50% 
        한줄의 여백의 합 / 한줄에 나오는 li의 갯수 =24/2*/ 
    }
    .biz .list ul li:nth-child(odd) { /*odd : 홀수 even : 짝수 */
        transform: translateY(0);
    }
    .biz .list ul li a .photo {
        height: 169px;
        border-radius: 10px;
        position: relative;/*before 정렬의 기준*/
    }
    /* .biz .list ul li a .photo::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #004288;
        opacity: 0;
        transition: 0.5s;
    } 오버라서 상관 없어서 지움*/
    /* .biz .list ul li a .photo img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }  */
    .biz .list ul li a .txt {
        position: absolute;
        left:28px;
        width: calc(100% - 80px);
        bottom: 31px;
        color: #fff;
        transition: 0.5s;
    }
    /* .biz .list ul li a:hover .txt {
        bottom: 77px;
    } 오버는 안함 */
    .biz .list ul li a .txt h3 {
        font-size: 20px;
    }
    .biz .list ul li a .txt p {
        display: none;
        /* opacity: 0;
        margin: 7px 0 0 0;
        color: rgba(255, 255, 255, 0.8);
        transition: 0.5s; */
    }
    /* .biz .list ul li a:hover .txt p {
        opacity: 1;
        
    }
    .biz .list ul li a:hover .photo::before {
       opacity: 0.9;
    } */
}/*@media*/

footer {
    margin: 1500px 0 0 0;
}