/* 251015_5시쯤부터 이해가 잘 안됨 */

@import url(common.css);
@import url(default.css);
@import url(fonts.css);

header {
    position: fixed; /*fixed는 무조건 body를 기준으로 정렬*/
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    height: var(--header-h);
    color: #fff;
    fill: #fff;
    display: flex; /*logo-gnb-util좌우배치*/
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--wrapper-margin);
}
header .logo a {
    display: block;
    width: 179.82px;
    height: 38.36px;
    background: url(../images/logo_w.svg)no-repeat center center / contain;
}
header .util {
    display: flex;
}
header .util .mypage,
header .util .search .sch_open {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33px;
    height: 33px;
}
header .util .search .sch_open i {
    display: block;
    width: 19.04px;
    padding: 6px 0 0 0;
}
header .util .mypage i {
    display: block;
    width: 17.33px;
    padding: 4px 0 0 0;
}
/*header가 fixed 되었을 때 */
header {
    transition: background-color 0.5s, color 0.5s, fill 0.5s;
}
header .logo a {
    transition: background-image 0.5s;
}
header.fixed {
    background-color: #fff;
    color: var(--color-title);
    fill: var(--color-title);
    border-bottom: 1px solid var(--color-line-long);
}
header.fixed .logo a {
    background-image: url(../images/logo_b.svg);
}

/*************** 시작 pc 버전 메뉴 ***********************/
/*1024이하는 메뉴가 접힘 1025 이상*/
@media screen and (min-width: 1025px){
    header .gnb .gnb_wrap .gnb_close,
    header .gnb .gnb_wrap .gnb_logo,
    header .gnb .gnb_open {
        display: none;/*모바일에서만 보임*/
    }
    header .gnb .gnb_wrap ul.depth1 {
        display: flex; /*li좌우로 배치*/
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        font-size: 22px;
        font-weight: var(--font-weight-bold);
        line-height: var(--header-h);
        padding : 0 1.5em; /*메뉴간 여백 */
        white-space: nowrap;/*줄바꿈 금지 행간이 높아서 두 줄이 되면 이상함 그래서 무조건 1줄로 나오게 함 . */
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        position: relative;/*depth2 정렬의기준*/
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        position: absolute;/* li를 기준으로 정렬 */
        left: 50%;/*li넓이의 50%*/
        transform: translateX(-50%);/*나자신 ul.depth2의 넓이의 50%*/
        top: calc(var(--header-h) - 13px);
        background-color: var(--color-blue);
        min-width: 100%;/*li넓이기준*/
        padding: 27px 20px 28px 20px;
        border-radius: 15px;
        display: none;/*오버했을때만 나옴*/
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        padding: 4px 0;
        white-space: nowrap;/* 줄바꿈금지 */ 
        text-align: center;
        
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a > span {
        position: relative; /*before 정렬의 기준 */
    }
   
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover {
        font-weight: var(--font-weight-bold);
    }

    /* 메뉴에 오버했을 때 */
    header.menu_pc {
        background-color: #fff;
        color: var(--color-title);
        fill: var(--color-title);
        border-bottom: 1px solid var(--color-line-long);
    }
    header.menu_pc .logo a {
        background-image: url(../images/logo_b.svg);
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > a {
        color: var(--color-blue);
        font-weight: var(--font-weight-bold);
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > ul.depth2 { /*2차메뉴나옴*/
        /* display: block !important; */
        color: #fff;
    }
}
/*1025이상에서 1280 그 사이에서만 적용 되는거 (자주쓰는 브레이크 포인트 1280) */
@media screen and (min-width:1025px) and (max-width:1280px) {
    header .logo a {
        width: 160px;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        font-size: 22px;
    }
    
    
}
/*************** 끝 pc 버전 메뉴 ********************** */
/*************** 모바일 시작  ********************** */
@media screen and (max-width:1024px){
    header {
        padding-right: 0;
        height: var(--header-var);
    }
    header .logo a {
        /* width: 102.18px; 모바일 최소사이즈
        height: 22.83px; */
        width: clamp(102.18px, 17vw, 179.82px); 
        /*최소값. 평소의 값, 최대값
        100vw가 브라우저의 넓이 */
    }
    header .gnb .gnb_open {
        display: flex; /* i 태그 가운데 정렬 */
        justify-content: center;
        align-items: center;
        width: var(--header-var);
        height: var(--header-var);
        
    }
    header .gnb .gnb_open i {
        display: block;
        width: 33%;
        padding: 5px 0 0 0;
    }
    
    header .util {
        display: none;
    }
    header .gnb .gnb_wrap {
        /* display: none; */
        position: absolute;/*header를 기준으로 정렬*/
        right: -100%;
        top: 0;
        width: 100%;
        height: 100dvh;
        background-color: #fff;
        color: var(--color-title);
        fill: var(--color-title);
        transition: right 0.5s;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        font-size: 20px;
        font-weight: var(--font-weight-bold);
        line-height: var(--line-height-title);
        color: var(--color-title);
        padding: 21px 50px 21px var(--wrapper-margin);/*50px 화살표 아이콘 여백 - 글자잘리지 않게 하기 위함*/
        position: relative;
    }
     header .gnb .gnb_wrap ul.depth1 > li.open > a {
        color: var(--color-blue);
     }
    header .gnb .gnb_wrap ul.depth1 > li > a::after {
        content: "";
        position: absolute;/*a를 기준으로 정렬*/
        right: var(--wrapper-margin);
        top: 50%;/*아이콘이 항상 정가운데 유지 (메뉴가 두줄인 경우에도) */
        transform: translateY(-50%);
        width: 15.8px;
        height: 8.71px;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 10' fill='%231D1D1D' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.99936 7.04167L14.1244 0.916666C14.3327 0.708333 14.5757 0.607639 14.8535 0.614583C15.1313 0.621527 15.3744 0.729166 15.5827 0.937499C15.791 1.14583 15.8952 1.38889 15.8952 1.66667C15.8952 1.94444 15.791 2.1875 15.5827 2.39583L9.18686 8.8125C9.02019 8.97917 8.83269 9.10417 8.62436 9.1875C8.41603 9.27083 8.20769 9.3125 7.99936 9.3125C7.79103 9.3125 7.58269 9.27083 7.37436 9.1875C7.16603 9.10417 6.97853 8.97917 6.81186 8.8125L0.395193 2.39583C0.186859 2.1875 0.0861647 1.94097 0.0931091 1.65625C0.100054 1.37153 0.207692 1.125 0.416026 0.916667C0.624359 0.708334 0.867415 0.604167 1.14519 0.604167C1.42297 0.604167 1.66603 0.708334 1.87436 0.916667L7.99936 7.04167Z' /%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        color: var(--color-title);
        transition: 0.5s;
    }
    header .gnb .gnb_wrap ul.depth1 > li.open > a::after {
        transform: translateY(-50%) rotate(180deg);/*위에 똑같은게 있기 때문에 transform rotate 되면 취소 되므로, 한 번더 적어줘야한다.*/
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 10' fill='%231d1d1d' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.99936 7.04167L14.1244 0.916666C14.3327 0.708333 14.5757 0.607639 14.8535 0.614583C15.1313 0.621527 15.3744 0.729166 15.5827 0.937499C15.791 1.14583 15.8952 1.38889 15.8952 1.66667C15.8952 1.94444 15.791 2.1875 15.5827 2.39583L9.18686 8.8125C9.02019 8.97917 8.83269 9.10417 8.62436 9.1875C8.41603 9.27083 8.20769 9.3125 7.99936 9.3125C7.79103 9.3125 7.58269 9.27083 7.37436 9.1875C7.16603 9.10417 6.97853 8.97917 6.81186 8.8125L0.395193 2.39583C0.186859 2.1875 0.0861647 1.94097 0.0931091 1.65625C0.100054 1.37153 0.207692 1.125 0.416026 0.916667C0.624359 0.708334 0.867415 0.604167 1.14519 0.604167C1.42297 0.604167 1.66603 0.708334 1.87436 0.916667L7.99936 7.04167Z' /%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap ul.depth1 {
        margin: var(--header-var) 0 0 0; /*이거 임의여백*/
        height: calc(100dvh - var(--header-var)); /*높이제한 > 화면 높이 - 메뉴영역 위 margin 100px 이거*/
        overflow-y: auto; 
        /*주어진 높이보다 콘텐츠가 짧으면 스크롤바가 안생기고, 주어진 높이보다 콘텐츠가 높으면 스크롤바가 생김 > 그래도 스크롤이 작동하지는 않음 -> 높이가 제한되야함*/
        padding: 13px 0 0 0;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        margin: 2px var(--wrapper-margin) 23px var(--wrapper-margin);/*백색이 없으면 마진이어도 됨*/
        color: var(--color-basic);
        display: none;/*1차메뉴 클릭시에만 나옴*/
    }
     header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li {
        border-bottom: 1px solid var(--color-line-short);
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li:last-child {
        border-bottom: none;/*0 도됨 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        padding: 7px 0 7px 16px;
    }
    header .gnb .gnb_wrap .gnb_logo {
        /*display: none; /*ul.depth1 작업할때는 display none 처리하고 작업*/
        position: absolute;/*gnb_wrap을 기준으로*/
        left: var(--wrapper-margin);
        top: 0;
        width: clamp(102.18px, 17vw, 179.82px);
        height: var(--header-var);/*헤더 높이가 들어가 줘야함.. > 메뉴에서는 반응형 *이거 마진높이*/
        background: url(../images/logo_b.svg)no-repeat center center / contain;
    }
    header .gnb .gnb_wrap .gnb_close {
        /*display: none; /*도 일단 숨김..왜냐하면 ul.depth1이 모든건 컨트롤 해야함..> ul.depth1 작업할때는 display none 처리하고 작업*/
        position: absolute;/*gnb_wrap을 기준으로*/
        right: 0;
        top: 0;
        width: var(--header-var);
        height: var(--header-var);
        display: flex; /*i 태그를 가운데로*/
        justify-content: center;
        align-items: center;
    }
    header .gnb .gnb_wrap .gnb_close i {
        display: block;
        width: 24.42%;
    }
    /*메뉴가 열렸을 때*/
    header.menu_mo .gnb .gnb_wrap {
        /* display: block; */
        right: 0;
    }
    header .gnb .gnb_wrap .gnb_close i {
        display: block;
        fill: var(--color-blue);
    }
}
.visual {
    position: relative; /*ctrl_btn 정렬의 기준*/
}
.visual .swiper-slide {
    height: 100dvh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;/*wrapper를 하단에 배치하기 위해*/
    align-items: flex-end;
}
.visual .swiper-slide.pop1 {
    background-image: url(../images/visual_bg1.jpg);
}
.visual .swiper-slide.pop2 {
    background-image: url(../images/visual_bg2.jpg);
}
.visual .swiper-slide.pop3 {
    background-image: url(../images/visual_bg3.jpg);
}
.visual .swiper-slide p {
    font-size: clamp(28px, 4vw ,60px);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-title);
    margin: 0px 0 calc(15dvh + 225px) 0;
    transition: transform 1s, opacity 1s;
    transition-delay: 0.3s;
    transform: translate(0, -50px);
    opacity: 0;
}
.visual .swiper-slide.swiper-slide-active p {
    transform: translate(0, 0);
    opacity: 1;
}
.visual .ctrl_btn {
    position: absolute;
    left: calc(50% - 630px);
    bottom: 28%;
    z-index: 10;
    display: flex;
    color: #fff;
    gap: 0 11px;
}
.visual .ctrl_btn .paging {
    display: flex;
    align-items: center;
    gap: 0 9px;
}
.visual .ctrl_btn .paging .bar {
    width: 144px;
    height: 3px;
    background-color: rgba(255, 255, 255, .3);
    position: relative;
}
.visual .ctrl_btn .paging .bar span {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: #fff;
}
.visual .ctrl_btn .stop,
.visual .ctrl_btn .play {
    display: block;
    width: 29px;
    height: 29px;
    border-radius: 50%;
    background-color: var(--color-wite50);
    display: flex;/* i태그를 가운데 배치 */
    justify-content: center;
    align-items: center;
}
.visual .ctrl_btn .play {
    display: none; /*숨김처리*/
}
.visual .ctrl_btn .stop i {
    display: block;
    width: 12px;
    margin: 4px 0 0 0;
}
.visual .ctrl_btn .play i {
    display: block;
    width: 10px;
    margin: 2px 0 0 2px;
}
@media screen and (max-width:1320px){
    .visual .ctrl_btn {
        left: 30px;
    }
}
@media screen and (max-width:768px){
    .visual .ctrl_btn {
        left: 16px;
    }
    .visual {
        position: relative;/*ctrl_btn 정렬의 기준*/
    }
    .visual .swiper-slide {
        height: 400px;
    }
    .visual .swiper-slide p {
        margin: 0 0 92px 0;
        transform: translate(0, -20px);
    }
    .visual .ctrl_btn {
        bottom: 38px;
        gap: 0 6px;
    }
    .visual .ctrl_btn .paging .bar {
        width: 86px;
    }
    .visual .ctrl_btn .stop,
    .visual .ctrl_btn .play {
        display: block;
        width: 29px;
        height: 29px;
        border-radius: 50%;
        background-color: var(--color-wite50);
        display: flex;/* i태그를 가운데 배치 */
        justify-content: center;
        align-items: center;
    }
    .visual .ctrl_btn .play {
        display: none; /*숨김처리*/
    }
    .visual .ctrl_btn .stop i {
        display: block;
        width: 12px;
        margin: 4px 0 0 0;
    }
    .visual .ctrl_btn .play i {
        display: block;
        width: 10px;
        margin: 2px 0 0 2px;
    }
}
.find {
    background-color: var(--color-bg);
    color: #fff;
    padding: 156px 0 126px 0;
}
.find h2 {
    font-size: 40px;
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-title);
    text-align: center;
}
.find .tab_list {
    margin: 39px 0 0 0;
}
.find .tab_list ul {
    display: flex;/*li좌우*/
    justify-content: center;
    gap: 0 19px;
}
.find .tab_list ul li button {
    display: block;
    padding: 8px 27px 8px 27px;
    border-radius: 30px;
    color: #fff;
    font-size: 24px;
    font-weight: var(--line-height-title);
}
.find .tab_list ul li.active button {
    background-color: var(--color-red);
    color: #fff;

}
.find .tab_list ul li.item2.active button {
    background-color: var(--color-blue);
}
.find .tab_content {
    margin: 36px 0 0 0;
    
}
.find .tab_content .tab_item {
    position: relative;/* 버튼정렬의 기준 */
}
.find .tab_content .tab_item .prev {
    position: absolute;
    left: -25px;
    top: 175px;
    z-index: 10;
    fill: var(--color-bg);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--color-wite60) ;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 14px 17px 13px 20px;
}
.find .tab_content .tab_item .next {
    position: absolute;
    right: -25px;
    top: 175px;
    z-index: 10;
    fill: var(--color-bg);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--color-wite60) ;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 14px 17px 13px 20px;
}
.find .tab_content .tab_item .more {
    position: absolute;
    right: 0;
    top: -20px;
}
footer {
    margin: 1500px 0 0 0;
}