@import url(common.css);

:root {
    --header-h:100px; /*유지보수 쉬움*/
}
@media screen and (max-width:1024px){
:root {
--header-h:70px;
}
}

@media screen and (max-width:768px){
:root {
    --header-h:56px;
}
}/**/

header {
    position: absolute;/*wrap을 기준정렬*/
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: var(--header-h);
    color: #fff;
    padding: var(--content-margin);

    display: flex; /*logo - gnb - util 좌우배치*/
    justify-content: space-between;
    align-items: center;
    

}
header .logo a {
    display: block;
    width: 44px;
    height: 47px;
    background: url(../images/menu_logo2_w.svg)no-repeat center center / contain;
    /*로고나 아이콘은 contain 짤리지 않게*/
}
header .util {
    display: flex;/*lang -search 좌우배치*/
}
header .util .lang .lang_open {
    width: 40px;
    height: 40px;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.25 31.375C14.1146 31.375 12.0964 30.9648 10.1953 30.1445C8.29427 29.3242 6.63411 28.2044 5.21484 26.7852C3.79557 25.3659 2.67578 23.7057 1.85547 21.8047C1.03516 19.9036 0.625 17.8854 0.625 15.75C0.625 13.5885 1.03516 11.5638 1.85547 9.67578C2.67578 7.78776 3.79557 6.13411 5.21484 4.71484C6.63411 3.29557 8.29427 2.17578 10.1953 1.35547C12.0964 0.535156 14.1146 0.125 16.25 0.125C18.4115 0.125 20.4362 0.535156 22.3242 1.35547C24.2122 2.17578 25.8659 3.29557 27.2852 4.71484C28.7044 6.13411 29.8242 7.78776 30.6445 9.67578C31.4648 11.5638 31.875 13.5885 31.875 15.75C31.875 17.8854 31.4648 19.9036 30.6445 21.8047C29.8242 23.7057 28.7044 25.3659 27.2852 26.7852C25.8659 28.2044 24.2122 29.3242 22.3242 30.1445C20.4362 30.9648 18.4115 31.375 16.25 31.375ZM16.25 28.1719C16.9271 27.2344 17.513 26.2578 18.0078 25.2422C18.5026 24.2266 18.9062 23.1458 19.2188 22H13.2813C13.5938 23.1458 13.9974 24.2266 14.4922 25.2422C14.987 26.2578 15.5729 27.2344 16.25 28.1719ZM12.1875 27.5469C11.7188 26.6875 11.3086 25.7956 10.957 24.8711C10.6055 23.9466 10.3125 22.9896 10.0781 22H5.46875C6.22396 23.3021 7.16797 24.4349 8.30078 25.3984C9.43359 26.362 10.7292 27.0781 12.1875 27.5469ZM20.3125 27.5469C21.7708 27.0781 23.0664 26.362 24.1992 25.3984C25.332 24.4349 26.276 23.3021 27.0312 22H22.4219C22.1875 22.9896 21.8945 23.9466 21.543 24.8711C21.1914 25.7956 20.7812 26.6875 20.3125 27.5469ZM4.14062 18.875H9.45312C9.375 18.3542 9.31641 17.8398 9.27734 17.332C9.23828 16.8242 9.21875 16.2969 9.21875 15.75C9.21875 15.2031 9.23828 14.6758 9.27734 14.168C9.31641 13.6602 9.375 13.1458 9.45312 12.625H4.14062C4.01042 13.1458 3.91276 13.6602 3.84766 14.168C3.78255 14.6758 3.75 15.2031 3.75 15.75C3.75 16.2969 3.78255 16.8242 3.84766 17.332C3.91276 17.8398 4.01042 18.3542 4.14062 18.875ZM12.5781 18.875H19.9219C20 18.3542 20.0586 17.8398 20.0977 17.332C20.1367 16.8242 20.1562 16.2969 20.1562 15.75C20.1562 15.2031 20.1367 14.6758 20.0977 14.168C20.0586 13.6602 20 13.1458 19.9219 12.625H12.5781C12.5 13.1458 12.4414 13.6602 12.4023 14.168C12.3633 14.6758 12.3438 15.2031 12.3438 15.75C12.3438 16.2969 12.3633 16.8242 12.4023 17.332C12.4414 17.8398 12.5 18.3542 12.5781 18.875ZM23.0469 18.875H28.3594C28.4896 18.3542 28.5872 17.8398 28.6523 17.332C28.7174 16.8242 28.75 16.2969 28.75 15.75C28.75 15.2031 28.7174 14.6758 28.6523 14.168C28.5872 13.6602 28.4896 13.1458 28.3594 12.625H23.0469C23.125 13.1458 23.1836 13.6602 23.2227 14.168C23.2617 14.6758 23.2812 15.2031 23.2812 15.75C23.2812 16.2969 23.2617 16.8242 23.2227 17.332C23.1836 17.8398 23.125 18.3542 23.0469 18.875ZM22.4219 9.5H27.0312C26.276 8.19792 25.332 7.0651 24.1992 6.10156C23.0664 5.13802 21.7708 4.42188 20.3125 3.95312C20.7812 4.8125 21.1914 5.70443 21.543 6.62891C21.8945 7.55339 22.1875 8.51042 22.4219 9.5ZM13.2813 9.5H19.2188C18.9062 8.35417 18.5026 7.27344 18.0078 6.25781C17.513 5.24219 16.9271 4.26562 16.25 3.32812C15.5729 4.26562 14.987 5.24219 14.4922 6.25781C13.9974 7.27344 13.5938 8.35417 13.2813 9.5ZM5.46875 9.5H10.0781C10.3125 8.51042 10.6055 7.55339 10.957 6.62891C11.3086 5.70443 11.7188 4.8125 12.1875 3.95312C10.7292 4.42188 9.43359 5.13802 8.30078 6.10156C7.16797 7.0651 6.22396 8.19792 5.46875 9.5Z' fill='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
}
header .util .search .search_open {
    width: 40px;
    height: 40px;
    background-image: url("data:image/svg+xml,%3Csvg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26.625 28.8125L16.7812 18.9688C16 19.5938 15.1016 20.0885 14.0859 20.4531C13.0703 20.8177 11.9896 21 10.8438 21C8.00521 21 5.60286 20.0169 3.63672 18.0508C1.67057 16.0846 0.6875 13.6823 0.6875 10.8438C0.6875 8.00521 1.67057 5.60286 3.63672 3.63672C5.60286 1.67057 8.00521 0.6875 10.8438 0.6875C13.6823 0.6875 16.0846 1.67057 18.0508 3.63672C20.0169 5.60286 21 8.00521 21 10.8438C21 11.9896 20.8177 13.0703 20.4531 14.0859C20.0885 15.1016 19.5938 16 18.9688 16.7812L28.8125 26.625L26.625 28.8125ZM10.8438 17.875C12.7969 17.875 14.457 17.1914 15.8242 15.8242C17.1914 14.457 17.875 12.7969 17.875 10.8438C17.875 8.89062 17.1914 7.23047 15.8242 5.86328C14.457 4.49609 12.7969 3.8125 10.8438 3.8125C8.89062 3.8125 7.23047 4.49609 5.86328 5.86328C4.49609 7.23047 3.8125 8.89062 3.8125 10.8438C3.8125 12.7969 4.49609 14.457 5.86328 15.8242C7.23047 17.1914 8.89062 17.875 10.8438 17.875Z' fill='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
}

@media screen and (min-width:1025px){ /*??이거 왜..하지..?*/
    header .gnb .gnb_bg {
        display: none !important;
    }
    header .gnb .gnb_open,
    header .gnb .gnb_close {
        display: none;/*pc버전 숨김*/
    }
    header .gnb .gnb_wrap ul.depth1 {
        display: flex;/*li좌우배치*/
    }
    header .gnb .gnb_wrap ul.depth1 > li  {
        position: relative; /*2차메뉴 ul depth2정렬의 기준 */
        z-index: 10;
     }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        font-size: 24px;
        font-weight: 700;
        line-height: var(--header-h);
        padding: 0 53px;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        /* 2차메뉴는 absolute로 처리 */
        position: absolute; /*1차메뉴 li를 기준으로 정렬*/
        left: 0;
        top: var(--header-h);
        width: 100%;
        min-height: 170px;/*모든 2차 메뉴의 길이를 동일하게 주려고*/
        color: #555;
        text-align: center;
        padding: 16px 0 0 0;
        display: none !important;/*메뉴가 열렸을때만 나타남*/
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        padding: 4px 0;
        text-align: center;
    }
    /*메뉴에 마우스를 오버했을 때 menu_over가 추가되었을때*/
    header.menu_over {
        color: #1d1d1d;
    }
    header.menu_over::before {
        content: "";
        position: absolute;
        left: 0;
        top:0;
        z-index: -1;/*header 안에 있는 요소들 중에서 맨 아래 */
        width: 100%;
        height: 290px;
        background-color: #fff;
    }
     header.menu_over::after {
        content: "";
        position: absolute;
        left: 0;
        top: var(--header-h);
        width: 100%;
        height: 1px;
        background-color: #ededed;
     }
    header.menu_over .logo a {
    background-image: url(../images/menu_logo2.svg);
    }
     header.menu_over .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        display: block !important;
        /* 선택자 우선순위가 낮아서 적용되지 않을 때 
        무조건 먼저적용되도록하는 명령 속성뒤에 !important를 추가 
        절대 신중하게 줘야함! */

     }
    header.menu_over .util .lang .lang_open {
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.25 31.375C14.1146 31.375 12.0964 30.9648 10.1953 30.1445C8.29427 29.3242 6.63411 28.2044 5.21484 26.7852C3.79557 25.3659 2.67578 23.7057 1.85547 21.8047C1.03516 19.9036 0.625 17.8854 0.625 15.75C0.625 13.5885 1.03516 11.5638 1.85547 9.67578C2.67578 7.78776 3.79557 6.13411 5.21484 4.71484C6.63411 3.29557 8.29427 2.17578 10.1953 1.35547C12.0964 0.535156 14.1146 0.125 16.25 0.125C18.4115 0.125 20.4362 0.535156 22.3242 1.35547C24.2122 2.17578 25.8659 3.29557 27.2852 4.71484C28.7044 6.13411 29.8242 7.78776 30.6445 9.67578C31.4648 11.5638 31.875 13.5885 31.875 15.75C31.875 17.8854 31.4648 19.9036 30.6445 21.8047C29.8242 23.7057 28.7044 25.3659 27.2852 26.7852C25.8659 28.2044 24.2122 29.3242 22.3242 30.1445C20.4362 30.9648 18.4115 31.375 16.25 31.375ZM16.25 28.1719C16.9271 27.2344 17.513 26.2578 18.0078 25.2422C18.5026 24.2266 18.9062 23.1458 19.2188 22H13.2813C13.5938 23.1458 13.9974 24.2266 14.4922 25.2422C14.987 26.2578 15.5729 27.2344 16.25 28.1719ZM12.1875 27.5469C11.7188 26.6875 11.3086 25.7956 10.957 24.8711C10.6055 23.9466 10.3125 22.9896 10.0781 22H5.46875C6.22396 23.3021 7.16797 24.4349 8.30078 25.3984C9.43359 26.362 10.7292 27.0781 12.1875 27.5469ZM20.3125 27.5469C21.7708 27.0781 23.0664 26.362 24.1992 25.3984C25.332 24.4349 26.276 23.3021 27.0312 22H22.4219C22.1875 22.9896 21.8945 23.9466 21.543 24.8711C21.1914 25.7956 20.7812 26.6875 20.3125 27.5469ZM4.14062 18.875H9.45312C9.375 18.3542 9.31641 17.8398 9.27734 17.332C9.23828 16.8242 9.21875 16.2969 9.21875 15.75C9.21875 15.2031 9.23828 14.6758 9.27734 14.168C9.31641 13.6602 9.375 13.1458 9.45312 12.625H4.14062C4.01042 13.1458 3.91276 13.6602 3.84766 14.168C3.78255 14.6758 3.75 15.2031 3.75 15.75C3.75 16.2969 3.78255 16.8242 3.84766 17.332C3.91276 17.8398 4.01042 18.3542 4.14062 18.875ZM12.5781 18.875H19.9219C20 18.3542 20.0586 17.8398 20.0977 17.332C20.1367 16.8242 20.1562 16.2969 20.1562 15.75C20.1562 15.2031 20.1367 14.6758 20.0977 14.168C20.0586 13.6602 20 13.1458 19.9219 12.625H12.5781C12.5 13.1458 12.4414 13.6602 12.4023 14.168C12.3633 14.6758 12.3438 15.2031 12.3438 15.75C12.3438 16.2969 12.3633 16.8242 12.4023 17.332C12.4414 17.8398 12.5 18.3542 12.5781 18.875ZM23.0469 18.875H28.3594C28.4896 18.3542 28.5872 17.8398 28.6523 17.332C28.7174 16.8242 28.75 16.2969 28.75 15.75C28.75 15.2031 28.7174 14.6758 28.6523 14.168C28.5872 13.6602 28.4896 13.1458 28.3594 12.625H23.0469C23.125 13.1458 23.1836 13.6602 23.2227 14.168C23.2617 14.6758 23.2812 15.2031 23.2812 15.75C23.2812 16.2969 23.2617 16.8242 23.2227 17.332C23.1836 17.8398 23.125 18.3542 23.0469 18.875ZM22.4219 9.5H27.0312C26.276 8.19792 25.332 7.0651 24.1992 6.10156C23.0664 5.13802 21.7708 4.42188 20.3125 3.95312C20.7812 4.8125 21.1914 5.70443 21.543 6.62891C21.8945 7.55339 22.1875 8.51042 22.4219 9.5ZM13.2813 9.5H19.2188C18.9062 8.35417 18.5026 7.27344 18.0078 6.25781C17.513 5.24219 16.9271 4.26562 16.25 3.32812C15.5729 4.26562 14.987 5.24219 14.4922 6.25781C13.9974 7.27344 13.5938 8.35417 13.2813 9.5ZM5.46875 9.5H10.0781C10.3125 8.51042 10.6055 7.55339 10.957 6.62891C11.3086 5.70443 11.7188 4.8125 12.1875 3.95312C10.7292 4.42188 9.43359 5.13802 8.30078 6.10156C7.16797 7.0651 6.22396 8.19792 5.46875 9.5Z' fill='%231d1d1d'/%3E%3C/svg%3E%0A");
    }
    header.menu_over .util .search .search_open {
    background-image: url("data:image/svg+xml,%3Csvg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26.625 28.8125L16.7812 18.9688C16 19.5938 15.1016 20.0885 14.0859 20.4531C13.0703 20.8177 11.9896 21 10.8438 21C8.00521 21 5.60286 20.0169 3.63672 18.0508C1.67057 16.0846 0.6875 13.6823 0.6875 10.8438C0.6875 8.00521 1.67057 5.60286 3.63672 3.63672C5.60286 1.67057 8.00521 0.6875 10.8438 0.6875C13.6823 0.6875 16.0846 1.67057 18.0508 3.63672C20.0169 5.60286 21 8.00521 21 10.8438C21 11.9896 20.8177 13.0703 20.4531 14.0859C20.0885 15.1016 19.5938 16 18.9688 16.7812L28.8125 26.625L26.625 28.8125ZM10.8438 17.875C12.7969 17.875 14.457 17.1914 15.8242 15.8242C17.1914 14.457 17.875 12.7969 17.875 10.8438C17.875 8.89062 17.1914 7.23047 15.8242 5.86328C14.457 4.49609 12.7969 3.8125 10.8438 3.8125C8.89062 3.8125 7.23047 4.49609 5.86328 5.86328C4.49609 7.23047 3.8125 8.89062 3.8125 10.8438C3.8125 12.7969 4.49609 14.457 5.86328 15.8242C7.23047 17.1914 8.89062 17.875 10.8438 17.875Z' fill='%231d1d1d'/%3E%3C/svg%3E%0A");
    
    }
     /*1차 메뉴 li에 over가 들어갔을 때 */
    header .gnb .gnb_wrap ul.depth1 > li.over > a span {
        position: relative;/*before 정렬의 기준 */
        color: #A622A3;
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > a span::before {
        content: "";
        position: absolute;/*span태그를 중심으로 정렬*/
        left: -6px;
        top: -2px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color:#A622A3;
    }
     header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a span{
        position: relative;
     }
    
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a span::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 0;
        height: 1px;
        background-color: #A622A3;
        transition: 0.5s;
   }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover,
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:focus {
        color:#A622A3;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover span::after,
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:focus span::after {
        width: 100%;

}/*1024에서부터 모바일 스타일로 치환 - 1025px이상일 때 pc버전 스타일 메뉴*/
}
@media screen and (max-width:1024px){ /*1024부터 모바일버전 치환..?*/
    header {
    padding-right: 0;
    }
    header .logo a {
        display: block;
        width: 30px;
        height: 34px;
    }
    header .gnb .gnb_open {
        width: var(--header-h);
        height: var(--header-h);
        background-image: url("data:image/svg+xml,%3Csvg width='21' height='17' viewBox='0 0 21 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 2.42857V0H22V2.42857H0ZM0 17V14.5714H22V17H0ZM0 9.71429V7.28571H22V9.71429H0Z' fill='white'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 28px;
        display: block;
    }
    header .gnb .gnb_wrap {
        /*display: none;/*메뉴가 열려야 보임 */
        position: absolute; /* header 를 기준으로 정렬 */
        right: -110%;
        top: 0;
        z-index: 10;
        width: 100%;
        max-width: 320px;
        height: 100dvh;/*화면에 꽉참*/
        background: #fff;
        color: #1d1d1d;
        /* box-shadow: 0 0 50px 10px rgba(0, 0, 0, .3); */
        transition: 0.5s;
    }
    header .gnb .gnb_wrap ul.depth1 {
        margin: var(--header-h) 0 0 0;
        padding: 15px 0 0 0;
        overflow-y: auto;
        /* 컨텐츠 높이가 입력한 높이보다 커지면 스크롤바를 만듬 */
        height: calc(100dvh - var(--header-h));
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        padding: 24px 73px 24px 16px;
        font-size: 24px;
        font-weight: 700;
        position: relative; /*after정렬의 기준*/
    }
    header .gnb .gnb_wrap ul.depth1 > li > a::after {
        content: "";
        position: absolute; /*a를 기준으로 정렬*/
        right: 28px;
        top: 25px;
        width: 20px;
        height: 12px;
        background-image: url("data:image/svg+xml,%3Csvg width='21' height='13' viewBox='0 0 21 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.5558 2.33317L10.4998 12.3892L0.443847 2.33317L1.92223 0.854783L10.4998 9.43265L19.0774 0.854782L20.5558 2.33317Z' fill='%23666666'/%3E%3C/svg%3E ");
        background-repeat: no-repeat;
        background-position: center center;
        transition: 0.5s;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        background-color: #f4f4f4;
        padding: 24px 19px 29px 19px;
        display: none;/*1차메뉴 클릭하면 열림*/
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        padding: 4px 0 4px 0;
    }
    header .gnb .gnb_bg {
        position: absolute; /*header 기준으로 정렬*/
        left: 0;
        top: 0;
        width: 100%;
        height: 100dvh;
        background-color: #000;
        opacity: 0.5;
        display: none;

    }
    header .gnb .gnb_close {
        display: none;/*메뉴가 열려야 보임 */
        position: absolute;/*header를 기준으로 정렬*/
        right: 0;
        top: 0;
        z-index: 11;
        width: var(--header-h);
        height: var(--header-h);
        background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.73317 16.9584L0.0415039 15.2667L6.80817 8.50008L0.0415039 1.73341L1.73317 0.041748L8.49984 6.80841L15.2665 0.041748L16.9582 1.73341L10.1915 8.50008L16.9582 15.2667L15.2665 16.9584L8.49984 10.1917L1.73317 16.9584Z' fill='%231C1B1F'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center center;
    }
    header .util {
        position: absolute; /*header를 기준으로 정렬*/
        right: var(--header-h);
        top: 0;
    }
    header .util .lang {
        display: none;/*모바일숨김*/
    }
    header .util .search .search_open {
        width: 36px;
        height: var(--header-h);
        background-size: 20px;/*아이콘 가로 넓이*/
    }
    /*메뉴가 열렸을 때 header에 menu_open */
    /*header.menu_open .logo {
        position: relative;
        z-index: 10;/*z-index는 position값이 필수
    }
    header.menu_open .logo a {
        background-image: url(../images/menu_logo2.svg);
    }*/
    header.menu_open .gnb .gnb_wrap {
    display: block;/*메뉴가 열려야 보임 */
    right: 0;
    }
    header.menu_open .gnb .gnb_close {
        display: block;/*메뉴가 열려야 보임 */
    }
    header.menu_open .util { 
        z-index: 10;
    }
    header.menu_open .util .search .search_open {
        background-image: url("data:image/svg+xml,%3Csvg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26.625 28.8125L16.7812 18.9688C16 19.5938 15.1016 20.0885 14.0859 20.4531C13.0703 20.8177 11.9896 21 10.8438 21C8.00521 21 5.60286 20.0169 3.63672 18.0508C1.67057 16.0846 0.6875 13.6823 0.6875 10.8438C0.6875 8.00521 1.67057 5.60286 3.63672 3.63672C5.60286 1.67057 8.00521 0.6875 10.8438 0.6875C13.6823 0.6875 16.0846 1.67057 18.0508 3.63672C20.0169 5.60286 21 8.00521 21 10.8438C21 11.9896 20.8177 13.0703 20.4531 14.0859C20.0885 15.1016 19.5938 16 18.9688 16.7812L28.8125 26.625L26.625 28.8125ZM10.8438 17.875C12.7969 17.875 14.457 17.1914 15.8242 15.8242C17.1914 14.457 17.875 12.7969 17.875 10.8438C17.875 8.89062 17.1914 7.23047 15.8242 5.86328C14.457 4.49609 12.7969 3.8125 10.8438 3.8125C8.89062 3.8125 7.23047 4.49609 5.86328 5.86328C4.49609 7.23047 3.8125 8.89062 3.8125 10.8438C3.8125 12.7969 4.49609 14.457 5.86328 15.8242C7.23047 17.1914 8.89062 17.875 10.8438 17.875Z' fill='%231d1d1d'/%3E%3C/svg%3E%0A");
    }
    /* 2차메뉴 열기 */
    header .gnb .gnb_wrap ul.depth1 > li.open > ul.depth2 {
        /* display: block; */
    }
    header .gnb .gnb_wrap ul.depth1 > li.open > a::after {
        transform: rotate(180deg);
    }
}

@media screen and (max-width:768px){
    header .logo a {
    width: 20px;
    height: 21px;
}
header .gnb .gnb_open {
    background-size: 21px;
}
header .gnb .gnb_close {
    background-size: 16px;
}
header .util .search .search_open {
    background-size: 20px;/*아이콘 가로 넓이*/
}
}
.visual {
    height: 100dvh;
    background: url(../images/menu_visual2.jpg) no-repeat center center / cover;
}