@import url(common.css);

.plus {
    margin: 74px 0 0 0;
}
.plus .wrapper {
    display: flex;
    justify-content: space-between;/*tit - photo 좌우배치*/
    align-items: flex-start; /*밑에 라운드가 찌그러짐 > 라인헤잇 0 . 폰트 0 은 접근성 위배 
    img에 버티컬 얼라인 탑을 주면 사라짐*/
}
.plus .tit {
    margin: 50px 0 0 0;
    width: 40.71%;
    /* 
    1260 / 문장전체너비
    513 / 1260 * 100 = 문장전체 너비가 몇퍼센트 비율을 차지하는지
    */
}
.plus .tit h2 {
    margin: 0 0 40px 0;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    color: #1d1d1d;
}
.plus .photo {
    width: 49.04%;
    /*618 / 1260*100 = 사진이 웹상에서 몇 퍼센트 비율을 차지하는지*/
    border-radius: 20px;
}
.plus .photo img {
    vertical-align: top;
}
@media screen and (max-width:1024px){
    .plus .tit h2 {
        margin: 0 0 16px 0;
        font-size: 32px; }
}/**/

@media screen and (max-width:768px){
    .plus {
        margin: 64px 0 0 0;
    }
    .plus .wrapper {
        display: block; /*플렉스를 블럭으로 좌우정렬 해제, 위아래 정렬*/
    }
    .plus .tit {
        width: auto; 
        /*넓이 고정 값을 삭제하고 원래 tit이 가져야하는 너비를 줌
        block 요소면 100% */
    }
    .plus .tit h2 {
        margin: 0 0 16px 0;
        font-size: 24px;
    }
    .plus .photo {
        width: auto;
        /*618 / 1260*100 = 사진이 웹상에서 몇 퍼센트 비율을 차지하는지*/
        margin: 30px 0 0 0;
    }
    .plus .photo img {
        vertical-align: top;
    } 
}/**/

.support { 
    margin: 137px 0 0 0;

}
.support .wrapper {
    display: flex;/*tit- photo 좌우배치*/
    justify-content: space-between;
    flex-direction: row-reverse;
}
.support .tit {
    /*넓이가 고정*/
    width: 513px;
}
.support .tit h2 {
    margin: 0 0 40px 0;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    color: #1d1d1d;
}
.support .photo {
 /* tit의 넓이 빼고 나머지 - 넓이가 변경됨*/
 width: calc(100% - 644px);
 height: 430px;
 border-radius: 20px;
}
@media screen and (max-width:1024px){
    .support .tit {
        /*넓이가 고정*/
        width: 410px;
    }
    .support .tit h2 {
        font-size: 32px;
    }
    .support .photo {
        /* tit의 넓이 빼고 나머지 - 넓이가 변경됨*/
        width: calc(100% - 440px);
       }
} /**/
@media screen and (max-width:768px){
    .support { 
        margin: 78px 0 0 0;
    
    }
    .support .wrapper {
        display: block;/*tit- photo 좌우배치*/
    }
    .support .tit {
        /*넓이가 고정*/
        width: auto;
        margin: 0 0 30px 0;
    }
    .support .tit h2 {
        margin: 0 0 16px 0;
        font-size: 24px;
    }
    .support .photo {
     /* tit의 넓이 빼고 나머지 - 넓이가 변경됨*/
     width: auto;
     height: 226px;
     border-radius: 10px;
    }
}
.minus {
    margin: 110px 0 0 0;
}
.minus .wrapper {
    display: flex;
    justify-content: space-between;
}
.minus .tit {
    width: 40%;
    margin: 50px 0 0 0;
}
.minus .tit h2 {
    margin: 0 0 40px 0;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    color: #1d1d1d;
}
.minus .photo {
    width: 50%;
    height: 429px;
    border-radius: 20px;
}
@media screen and (max-width:1024px){
    .minus .tit h2 {
        font-size: 32px;
    }
}/**/
@media screen and (max-width:768px){
    .minus {
        margin: 80px 0 0 0;
    }
    .minus .wrapper {
        display: block;
    }
    .minus .tit {
        width: auto;
        margin: 0 0 18px 0;
    }
    .minus .tit h2 {
        margin: 0 0 16px 0;
        font-size: 24px;
       
    }
    .minus .photo {
        width: auto;
        height: 429px;
        border-radius: 10px;
    }
}/**/
.service {
    background-color: #1549A4;
    color: #fff;
    padding: 26px 0 28px 0;
    margin: 100px 0 0 0;
}
.service .list ul {
    display: flex;/*li를 좌우로 배치*/
}
.service .list ul li {
    width: 16.66%; /*100/6 나를 감싸는 ul의 넓이의 16%*/

}
.service .list ul li a {
    display: flex;
    gap: 0 17px;
    align-items: center;
}

.service .list ul li a i {
    width: 90px;
    height: 90px;
    background-color: #fff;
    border-radius: 50%;
    /*가운데배치*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.service .list ul li a span {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.3;
}
@media screen and (max-width:1320px){ 
 /*wrapper 넓이가 풀린 시점*/
 .service .list ul li a {
    /*a 안에서 좌우에 가운데 flex로*/
    flex-direction: column;
    gap: 15px 0;
    align-items: center;
    text-align: center;
}
.service .list ul li a span br {
    display: none;
}
}/**/

@media screen and (max-width:1024px){ 
    .service .list ul li a span {
        font-size: 17px;
        text-align: center;
    }
    .service .list ul li a span br {
        display: block; /*줄바꿈 다시사용*/
    }
}/**/
@media screen and (max-width:768px){
    .service {
        padding: 70px 0 60px 0;
        margin: 90px 0 0 0;
    }
    .service .list ul {
        flex-wrap: wrap;
        gap: 41px 0;/*li와 li사이의 여백*/
    }
    .service .list ul li {
        width: 33.33%; /*100/6 나를 감싸는 ul의 넓이의 16%*/
    
    }
    .service .list ul li a {
        gap: 4px 0 ; /*글자와 아이콘 위아래 여백*/
    }
    .service .list ul li a i {
    width: 36px;
    height: 36px;
    background-color: transparent;
    
    }
    .service .list ul li a i svg {
    width: 85%;
    height: 85%;
    /*감싸는 영역이 실제 사이즈보다 작으면 자동으로 svg사이즈가 줄어듬.*/
    }
    .service .list ul li a i svg path {
        /*내가 복사한 svg html의 path에 fill 이 들어가 있음
        그래서 path에 fill을 줘야함*/
        fill: #fff;
    }
    .service .list ul li a span br {
        display: none; /*줄바꿈 없음*/
    }
    
}/**/
@media screen and (max-width:460px){
    .service .list ul li {
        width: 50%; /*100/6 나를 감싸는 ul의 넓이의 16%*/
    
    }
}/**/
.sdi {
    margin: 100px 0 0 0;
    
}
.sdi .tit h2 {
    margin: 0 0 13px 0;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    color: #1d1d1d;
}
.sdi .inner {
    margin: 38px 0 0 0;
    display: flex;
    gap: 0 24px;
} 
.sdi .inner .item {
    background-color: #F6F7FE;
    border-radius: 17px;
    height: 276px;
    width: calc(25% - 18px);
    /*나와 같은 사이즈가 있을때의 사이즈*/
    padding: 31px 30px 0 30px;
}
.sdi .inner .item.career {
    width: calc(50% - 12px);
    /*나와 같은 사이즈가 있을 때의 사이즈*/
    padding: 0;
}
.sdi .inner .item h3 {
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 9px 0;
}
.sdi .inner .career .career_tit {
    background-color: #283895;
    color: #fff;
    border-radius: 17px 17px 0 0;
    padding: 25px 30px 28px 30px;
    display: flex;
    align-items: center;
    gap: 0 24px;

}
.sdi .inner .career .career_tit h3 {
    color: #fff;
}
.sdi .inner .career .career_list ul {
    display: flex;
    margin: 66px 0 0 0;
}
.sdi .inner .career .career_list ul li {
    width: 33.33%;
    text-align: center;
}
.sdi .inner .career .career_list ul li a {
    display: block;
    font-size: 22px;
    font-weight: 700;
    color: #1d1d1d;
    
}
.sdi .inner .career .career_list ul li a br {
    display: none;/*줄바꿈 지금 안함*/
}
@media screen and (max-width:1024px){
    .sdi .inner .career .career_list ul li a br {
        display: block;/*줄바꿈 지금 */
    }
}/**/
@media screen and (max-width:768px){
    .sdi {
        margin: 60px 0 0 0;
        
    }
    .sdi .tit h2 {
        margin: 0 0 13px 0;
        font-size: 24px;
    }
    
    .sdi .inner {
        flex-wrap: wrap;
        gap: 16px 16px;
    } 
    .sdi .inner .item {
        width: calc(50% - 8px);
    }
    .sdi .inner .item.career {
        width: 100%; /*flex로 정렬되기 때문에 절대로 auto 안됨*/
        
    
    }
    .sdi .inner .item h3 {
        font-size: 28px;
        margin: 0 0 9px 0;
    }
    .sdi .inner .career .career_tit {
        padding: 25px 30px 28px 30px;
        display: flex;
        align-items: center;
        gap: 0 12px;
    
    }
    .sdi .inner .career .career_list ul li a {
        font-size: 20px;
        
    }
}/**/
body {
    margin:  0 0 500px 0;
}