@import url(default.css);
@import url(font.css);
@import url(common.css);

header {
    height: 100px
}
header .wrapper {
    display: flex;
    justify-content: space-between ;
    align-items: center ;
    
}
header .gnb ul {
    display: flex;
}
header .gnb ul li a {
    display: block;
    font-size:22px;
    line-height: 1.4;
    letter-spacing: -0.02em;
    color: #1E2124;
    padding: 0 27px 0 27px;
}
.visual {
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    height: 700px;
    color: #fff;
}
.visual h2 {
    font-size: 60px;
    line-height: 1.4;
    letter-spacing: -0.02em;
    font-weight: 700;
    padding: 227px 0 13px 0;
}
.biz {
    margin: 147px 0 0 0 ;
}
.biz .art,
.biz .sch {
    margin: 157px 0 0 0;
}
.biz .wrapper {
    display: flex;
    justify-content: space-between;
}
.biz .txt strong {
    font-weight: 700;
    color: #B90C0C;
}