@import url(default.css);
@import url(fonts.css);
@import url(common.css);

header{
    height: 110px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
}
header .wrapper {
    display: flex;
}
.visual {
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    border-radius: 0 0 200px 0;
}
.visual .wrapper {
    height: 100vh;
    min-height: 576px;
}